*.sdf
*.opendb
*.opensdf
*.aps
*.suo
*.user
Debug
Release
GeneratedFiles
.vs

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
msvc/GeneratedFiles
msvc/*.user

Debug_x64
Debug_Win32
tmp

*.suo